@import url(https://fonts.googleapis.com/css2?family=Gulzar&family=Itim&display=swap);
*{
    margin: 0;
    padding: 0;
}
#reset{
    margin: 0 23px;
    padding:5px;
    border-radius: 6px;
}

.X{
    color: green;
    font-size: 35px
}
.info{
    font-size: 30px;
    text-align: justify;
    margin:0 0 100px 0;
}
nav{
    background-color: rgb(2, 27, 166);
    color: white;
    height: 100px;
    font-size: 30px;
    display:flex;
    align-items: center;
    padding: 0;
    font-family:'Itim',cursive;
}

nav ul{
    list-style-type: none;
}

.gamecontainer{
    background-color:white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows:repeat(3,10vw) ;
    font-family:'Itim',cursive;

}
.box{
    border: 2px solid black ;
    font-size: 8vw;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(52, 172, 252);
} 

.gameInfo{
    padding: 0;
    font-family:'Itim',cursive


}
.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;

}
.bl-0{
    border-left: 0;

}
.bt-0{
    border-top: 0;

}
.bb-0{
    border-bottom: 0;

}